<turbo-stream action="replace" target="list">
  <template>
    <ul>
      <li>
        <form action="/tasks/edit/<%= @task_id %>" method="post" data-turbo="true">
          <div>
            <input type="text" name="task_name" value="<%= @task[:name] %>" />
            <input type="date" name="due_date" value="<%= @task[:due_date] %>" />
            <label>
              Complete:
              <input type="checkbox" name="complete" <%= @task[:complete] ? "checked" : "" %> />
            </label>
            <button type="submit">Save</button>
          </div>
        </form>
      </li>
    </ul>
  </template>
</turbo-stream>
