<div class="container">
  <header>
    <h1>Task list</h1>
  </header>
  <main>
    <div>
      <div id="list-notification"></div>
    </div>
    <div id="list-container">
      <div id="form-container">
      </div>
      <h2>Your tasks</h2>
      <form action="/tasks" method="post">
        <div>
          <input type="text" name="task" id="task" placeholder="Add a task" />
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
      </form>
    </div>
    <ul id="list">
      <% @tasks.each do |task| %>
      <li>
        <%= task[:name] %>
        <span class="btn-group btn-group-sm" role="group" aria-label="Small button group">
          <a href="/tasks/<%= task[:id] %>/edit" class="btn btn-outline-primary" role="button">Edit</a>
          <a href="/tasks/<%= task[:id] %>/delete" class="btn btn-outline-primary" role="button">Delete</a>
        </span>
        </li>
      <% end %>
    </ul>
  </main>
</div>
