<!DOCTYPE html>
<html lang="en">
<head>
  <script type="module">
    import * as Turbo from 'https://cdn.skypack.dev/@hotwired/turbo@7.1.0';

    // Reset the form after Turbo has handled the form submission
    document.addEventListener('turbo:load', () => {
      const form = document.querySelector('form');
      if (form) {
        form.addEventListener('turbo:submit-end', () => {
          form.reset();
        });
      }
    });
  </script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
  <title>Task list</title>
</head>
<body>
  <header>
    <h1>Task list</h1>
  </header>
  <main>
    <div>
      <div id="list-notification"></div>
    </div>

    <div id="list-container">
      <div id="form-container">
      </div>
      <h2>Your tasks</h2>

      <form action="/tasks" method="post" data-turbo="true">
        <div>
          <input type="text" name="task" id="task" placeholder="Add a task" />
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>

    <ul id="list">
      <% @tasks.each do |task| %>
      <li><%= task %></li>
      <% end %>
    </ul>
  </main>
</body>
</html>
