<turbo-stream action="replace" target="list">
  <template>
    <ul>
      <% (@tasks["list"] || []).each_with_index do |task, index| %>
        <li>
          <span><strong><%= task[:name] %></strong></span> - 
          <span>Due: <%= task[:due_date] %></span> - 
          <span>Status: <%= task[:complete] ? 'Complete' : 'Incomplete' %></span>
        </li>
      <% end %>
    </ul>
  </template>
</turbo-stream>
